<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7836dfbe8a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Raleway:500|Quicksand|Poiret+One">
    </head>
    <style>
        
    </style>
    <p>
        <a href="{%url 'learning_logs:home'%}">Home <span class = 'material-icons icon'>home</span></a>
        <a href="{%url 'learning_logs:topics'%}">Topics <span class="material-icons icon">topic</span></a>
    </p>
</html>
{% block content %}-{% endblock content %}