<!DOCTYPE html>
{% extends "learning_logs/base.html"%}
<html>
    <body>
        <div id = 'home'>
            {% block page_header %}
                <div class = 'header'>Track your learning with...Log Awesome <i class = 'fa-solid fa-graduation-cap'></i>!</div>
            {% endblock page_header %}
            {% block content %}
                <p class = 'quote'>"Learn continually &#8210; There is always "one more thing" to learn!"
                <br>
                &#8210;Steve Jobs, creator of Apple
                </p>
                <h3 class = 'heading-1'>Make your learning more fruitful.</h3>
                <p>When you are learning about anything, create a topic on Log Awesome! And then,
                    create some entries about what you learnt. You can come back to check your logs
                    anytime! Try creating a Log Awesome topic yourself and add entries about what you learnt.
                </p>
                {% if user.is_authenticated %}
                <br> Greetings, {{user.username}}!
                {% else %}
                <br>
                Interested now? Register and try Log Awesome!
                <br><br>
                <a href = "{% url 'users:register' %}" class = 'buttons link-btn'>Register &raquo;</a>
                {% endif %}
        </div>
        {% endblock content %}
    </body>
</html>