{% extends "learning_logs/base.html" %}

{% block title %}Your topics | Log Awesome{% endblock %}

{% block page_header %}
<h2>Your topics <i class="fa-solid fa-chalkboard"></i></h2>
{% endblock page_header %}

{% block content %}
<style>
    .topic-card{        
        width:20%;
        box-shadow:0px 3px rgb(91, 91, 91);
        border:solid 2px black;
        border-radius:10px;
        padding:10px;
        padding-top:5px;
        padding-left:13px;
        padding-bottom: 20px;
        margin-left:10px;
    }
</style>
<a class = 'buttons link-btn' id = 'add-a-topic' href = "{% url 'learning_logs:new_topic' %}">
Add a topic! <i class="fa-solid fa-plus"></i>
</a>
{%for topic in topics%}
<div class = "topic-card">
    Topic: <br>
    <a href = "{% url 'learning_logs:topic' topic.id %}" class = 'topic-itm'>{{topic}}</a>
    <br>
    <a href = "{% url 'learning_logs:delete_topic' topic.id%}">Delete this topic</a>
</div>
{% empty %}
    No topics have been added yet. Learn about a new topic and add it here!
{% endfor %}
<br>
{% endblock content %}