{% extends "learning_logs/base.html" %}

{% block title %}Topics{% endblock %}

{% block page_header %}
<h2>Your topics <i class="fa-solid fa-chalkboard"></i></h2>
{% endblock page_header %}

{% block content %}
<ul>
    {%for topic in topics%}
        <a href = "{% url 'learning_logs:topic' topic.id %}" class = 'topic-itm'>{{topic}}</a>
    {% empty %}
        <li>No topics have been added yet. Learn about a new topic and add it here!</li>
    {% endfor %}
</ul>
<a href = "{% url 'learning_logs:new_topic' %}">Add a new topic!</a>
{% endblock content %}